@import '../../shared/styles/variables';
:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-height: $spacing-64;
}

.img-container {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  display: none;
  margin: $spacing-16;
  color: white;
  background-color: $textGrey;
  border-radius: $border-radius-16;
}

image-links:hover + .button,
.button:hover {
  display: inline-block;
}
