@import '../../shared/styles/variables';
:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-height: $spacing-64;
}

.img-container {
  position: relative;
}

.img-container:hover image-links {
  &::after {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    content: '';
    inset: 0;
  }
}

.button {
  position: absolute;
  top: 0;
  display: none;
  margin: $spacing-16;
  opacity: 0.7;
}

image-links:hover + .button,
.button:hover {
  display: inline-block;
}
