// #F9F9F9 grey / disabled + outlines
//  #003ECB blue

// #696969 text grey
// #959595 thumbs / eye grey

// #191919 text black

$font-family: 'Acumin Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$basicWhite: #fff;
$backgroundGrey: #f1f1f1;
$activeGrey: #e8e8e8;
$borderGrey: #cccccc;
$textGrey: #696969;
$iconGrey: #959595;
$blue: #437cff;
$darkBlue: #003ecb;
$textBlack: #191919;

/* spacing for padding, margin, etc... */
$spacing-02: 0.125rem;
$spacing-04: 0.25rem;
$spacing-08: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;
$spacing-80: 5rem;
$spacing-96: 6rem;

/* border-width */
$border-width-01: 0.0625rem;
$border-width-02: 0.125rem;
$border-width-03: 0.1875rem;
$border-width-04: 0.25rem;
$border-width-05: 0.3125rem;
$border-width-06: 0.375rem;

/* border-radius */
$border-radius-01: 0.0625rem;
$border-radius-02: 0.125rem;
$border-radius-04: 0.25rem;
$border-radius-08: 0.5rem;
$border-radius-16: 1rem;
$border-radius-24: 1.5rem;

/* font-size */
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-42: 2.625rem;
$font-size-48: 3rem;
$font-size-54: 3.375rem;

/* font weights */
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;

/* icon size */
$icon-size-00: 0.75rem;
$icon-size-01: 1rem;
$icon-size-02: 1.5rem;
$icon-size-03: 2rem;
$icon-size-04: 3rem;
$icon-size-05: 4rem;
$icon-size-06: 5rem;
