@import '../../shared/styles/variables';

text-links {
  height: 100%;
  text-align: center;
}
img {
  width: 125px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $spacing-64;
  border-bottom: $border-width-01 solid $backgroundGrey;
}

.spaces-between {
  display: flex;
  gap: $spacing-16;
  align-items: center;
  height: 100%;
}
