@import '../../assets/css/all.min.css';
:host {
  display: block;
}
.spaces-between {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
  margin: 1rem;
}

.icon {
  margin-right: 5px;
}
