@import '../../styles/variables';

button {
  color: $textBlack;
  font-weight: 500;
  font-size: 16px;
  font-family: $font-family;
  line-height: 20px;
  background: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.1s;

  &:hover {
    background-color: $backgroundGrey;
  }
  &:active {
    background-color: $activeGrey;
  }
  &:disabled {
    opacity: 0.4;
  }
}

//*Sizes

:host([size='small']) button {
  padding: $spacing-08 $spacing-16;
}
:host([size='large']) button {
  padding: $spacing-16 $spacing-24;
}

//* types
:host([type='normal']) button {
  border: $border-width-01 solid $backgroundGrey;
}

//*Borders

:host([border='round']) button {
  border-radius: $border-radius-16;
}

:host([border='none']) button {
  border: $border-width-01 solid transparent;
  &:hover {
    border-radius: $border-radius-16;
  }
}

:host([border='square']) button {
  border-radius: $border-radius-08;
  &:hover {
    background-color: transparent;
    border: $border-width-01 solid $textGrey;
  }
}

:host([type='main']) button {
  color: $basicWhite;
  background-color: $blue;
  border: $border-width-01 solid $blue;

  &:hover {
    background-color: $darkBlue;
  }
}
