@import '../../styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-bottom: 1px solid $backgroundGrey;
}

.spaces-between {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
}
