// #F9F9F9 grey / disabled + outlines
//  #003ECB blue

// #696969 text grey
// #959595 thumbs / eye grey

// #191919 text black

$font-family: 'Acumin Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;

$backgroundGrey: #f1f1f1;
$activeGrey: #e8e8e8;
$textGrey: #696969;
$iconGrey: #959595;
$blue: #437cff;
$darkBlue: #003ecb;
$textBlack: #191919;
