@import '../../../assets/css/all.min.css';
@import '../../shared/styles/variables';
:host {
  display: block;
}
.spaces-between {
  display: flex;
  gap: $spacing-16;
  align-items: center;
  height: 100%;
  margin: $spacing-16;
}
